<div class="row">
    <div id="mapContainer">
        <!--Sidebar options-->
        <div id="map-sidebar-container" [@sidebarContainerState]="sidebarConfig.state">
            <div id="map-sidebar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <div class="form-group">
                                <label class="form-control-label" for="operationSelect">Select an Operation:</label>
                                <select id="operationSelect"
                                        class="form-control form-control-sm custom-select"
                                        (change)="operationChanged(selectedOperation)"
                                        [(ngModel)]="selectedOperation">
                                    <option *ngIf="selectedOperation == null" selected="selected" [ngValue]="null">- Select an Operation -</option>
                                    <option *ngFor="let operation of operations" [ngValue]="operation">{{operation.name}}</option>
                                </select>
                            </div> <!-- SELECT OPERATION -->
                        </div> <!--sidebar content-->
                    </div> <!--sidebar row-->
                </div> <!--sidebar container fluid-->
            </div> <!--sidebar -->
            <div id="map-sidebar-label" (click)="sidebarToggleState()">
                <i class="icon fa"
                   [ngClass]="{'fa-caret-right': !isSidebarVisible(), 'fa-caret-left': isSidebarVisible()}"
                   aria-hidden="true"></i>
            </div>
        </div> <!-- end sidebar options-->
        <sebm-google-map [latitude]="mapConfig.lat"
                         [longitude]="mapConfig.lng"
                         [zoom]="mapConfig.zoom"
                         [zoomControl]="mapConfig.zoomControl"
                         [mapTypeControl]="mapConfig.mapTypeControl"
                         [scaleControl]="mapConfig.scaleControl"
                         [streetViewControl]="mapConfig.streetViewControl">

            <sebm-map-polygon [paths]="polygonPath"
                              [strokeColor]="polygonConfig.strokeColor"
                              [strokeWeight]="polygonConfig.strokeWeight"
                              [fillColor]="polygonConfig.fillColor">
            </sebm-map-polygon>

            <sebm-map-polygon [paths]="polygonPath2"
                              [strokeColor]="polygonConfig.strokeColor"
                              [strokeWeight]="polygonConfig.strokeWeight"
                              [fillColor]="polygonConfig.fillColor">
            </sebm-map-polygon>

            <sebm-google-map-polyline [strokeColor]="pathAuxColor" [strokeWeight]="1">
                <sebm-google-map-polyline-point *ngFor="let coord of path"
                                                [latitude]="coord.latitude"
                                                [longitude]="coord.longitude">
                </sebm-google-map-polyline-point>
            </sebm-google-map-polyline>

            <sebm-google-map-marker
                    *ngFor="let m of markers; let i = index"
                    [latitude]="m.latitude"
                    [longitude]="m.longitude"
                    [label]="a">
            </sebm-google-map-marker>

            <sebm-google-map-polyline [strokeColor]="pathAuxColor">
                <sebm-google-map-polyline-point *ngFor="let coord of pathAux"
                                                [latitude]="coord.latitude"
                                                [longitude]="coord.longitude">
                </sebm-google-map-polyline-point>
            </sebm-google-map-polyline>
        </sebm-google-map>
    </div>
</div>