<div bsModal #addEditOperationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
     [config]="modalConfig">
    <div class="modal-dialog modal-lg" style="position: relative">
        <div class="modal-content" [ngBusy]="isLoading">
            <div class="modal-header">
                <h4 class="modal-title pull-left" [innerText]="title"></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                I am a child modal, opened from parent component!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveAndClose()" [innerText]="saveButtonTitle"></button>
            </div>
        </div>
    </div>
</div>